section{width: 100%; height: 100%; z-index: 20}
section .first{position: a; display: block; width: 95%; height: 260px; background: #444; margin: 2%; margin-bottom: 0px; margin-top: 200px; border-radius: 5px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);}
section .first .texto{height: 60%; width: 100%; background: transparent;}
section .first .texto p{text-align: center; font-family: verdana; font-size: 10pt; margin: 6px; color: #eee; font-weight: 600;}
section .first .imagem{height: 40%; width: 100%; display: flex; z-index: 20}
section .first .imagem .robo{background: #555; width: 40%; border-top-left-radius: 5px; border-bottom-right-radius: 5px; z-index: 5}
section .first .imagem .robo img{width: 100%; margin: 10px;}
section .first .imagem .botao{margin: auto;}
section .first .imagem .botao button{height: 40px; width: 160px; font-family: orbitron; font-size: 14pt; border-radius: 5px; outline: none; border: none; text-transform: uppercase; background: #666; color: #fff; border-bottom: 2px solid #222; border-right: 2px solid #222}
section .first .suport img{background: transparent; width: 200px; position: absolute; right: 0; margin-top: 0px;}
@media(min-width: 370px){section .first .texto{width: 50%; right: 5%; background: transparent; position: absolute; height: 150px} section .first .suport img{margin-top: 160px}}
@media(min-width: 370px){section .first .texto p{font-size: 7pt}}
@media(min-width: 975px){section .first .imagem .robo img{width: 350px}}
@media(min-width: 545px){section .first .texto p{font-size: 12pt}}
@media(min-width: 800px){section .first .texto p{font-size: 11pt}}
@media(min-width: 630px){section .first .texto{display: inline-block;}}
@media(min-width: 320px){.caixa{display: none;}}
@media(max-width: 320px){header, footer, section{display: none;}}
@media(min-width: 480px){section .first .texto p{font-size: 8pt}}
.robot{width: 90px; height: 110px; position: absolute; float: left; background: transparent; top: 28px; right: 0; margin-top: 65px;  z-index: 20}
.robot img{width: 100%}
.destaque{position: absolute; top: 90px; background: transparent; width: 150px; height: 90px; margin-left: 55%; transform: translateX(-50%);}
.destaque button{border: none; outline: none; height: 40px; width: 100%; font-family: orbitron; text-transform: uppercase; border-radius: 5px; color: #fff; background: #555; border-bottom: 2px solid #222; border-right: 2px solid #222}
.destaque p{text-align: center; font-family: verdana; color: #ddd; font-size: 10pt; margin-top: 5px;}
button:hover{color: #333; background: #ddd}
section .first .imagem .botao button:hover{color: #333; background: #ddd}
.principais{width: 50%; height: 100px; background: #555; margin-top: 20px; border-radius: 2px; margin-left: 20px;}
.principais iframe{width: 100%; height: 100%}
.gap{width: 100%; height: 70px}
.secao{width: 90%; height: 200px; background: #f57d14; margin: auto; margin-top: 25px}
@media(min-width: 700px){.corpo{width: 70%; margin: auto;} .texto p{width: 70%} .destaque{margin-left: 38%} .robot{margin-right: 190px} .suport{display: none;}}
.corpo{display:;}