.robo{width: 130px; height: 170px; position: fixed; bottom: 70px; background: transparent;}
.robo img{width: 100%}
.cards{display: block; width: 230px; height: 800px; background: #666; left: 130px; margin-top: 80px; position: absolute;}
.card{display: block; width: 90%; height: 150px; background: #555; margin: auto; margin-top: 15px; border-radius: 5px}