@font-face{font-family: Orbitron; src: url(../font/orbitron-black.ttf);}
*{padding: 0; margin: 0;}
body{background: #333}
header{width: 100%; height: 60px; background: #444; position: fixed; top: 0; display: flex; border-bottom: 1px solid #000; border-top: 1px solid #000; z-index: 30}
.logo{width: 60px; height: 60px; margin: 15px;}
.logo .logotipo{width: 100%; left: 100px; position: absolute; left: 45px; width: 50px; margin-top: 10px; z-index: 10}
.logo .hand{width: 129px; left: 0; background: transparent; position: absolute; margin-top: 50px; z-index: 3}
.texto{background: transparent; margin: auto;}
.texto h3{text-transform: uppercase; font-family: orbitron; color: #ff0}
footer{z-index: 12; background: #252525; width: 100%; height: 50px; position: fixed; bottom: 0; border-top: 1px solid #000; border-bottom: 1px solid #000;}
footer article{display: flex; width: 70%; height: 100%; margin: auto;}
footer article div{background: transparent; height: 40px; width: 40px; margin: auto;}
footer article div img{width: 40px; height: 40px}
.carregar{display: none; width: 100%; height: 100%; position: fixed; z-index: 30; background: #444; align-items: center; justify-content: center; text-align: center;}
.carregar .caixinha{width: 200px; height: 200px; background: #666; font-family: verdana; text-align: center; font-size: 10pt}
.carregar .caixinha img{width: 50px}
@media(max-width: 320px){.carregar{display: block;} header, footer, article{display: none;}}