body{overflow-x: hidden;}
footer a img{width: 45px; margin-left: 10px;}
nav.quadro{position: relative; width: 90%; height: 550px; background: transparent; top: 10px; margin-left: 50%; transform: translateX(-50%);}
section.postagem{position: relative; width: 90%; height: 100%; background: transparent;  margin-left: 50%; transform: translateX(-50%); margin-top: 80px;}
section.postagem img{height: 100%; margin-left: 50%; transform: translateX(-50%); border-radius: 3px;}
.next {margin-left: 5%;}
.return{margin-left: 50%;}